@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
body
{
    font-family: 'League Gothic', sans-serif;
}

/* ! ### container mine ### */
#main-container .row
{
    border: 5px solid black ;

    height: 600px;
    width: 600PX;
}

.square-hard
{
    height: calc(100% / 10);
    width: calc(100% / 10);
    border: 5px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.square-medium
{
    height: calc(100% / 9);
    width: calc(100% / 9);
    border: 5px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.square-easy
{
    height: calc(100% / 7);
    width: calc(100% / 7);
    border: 5px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}